{% extends 'UniversiboMainBundle::base.html.twig' %}
{% block title %}UniversiBO :: Attivazione Manuale{% endblock %}
{% block content %}
<h1>Necessaria Attivazione Manuale</h1>
<p>{{'Gentile utente,

per motivi tecnici relativi al passaggio al nuovo sistema di autenticazione di
Ateneo, il suo account richiede una procedura di attivazione manuale.
La preghiamo di contattarci dalla sua casella mail istituzionale ad
associazione.universibo@unibo.it oppure al n° 051 20 93883.

Grazie,
Lo staff di UniversiBO' | nl2br | linkify}}</p>
{% endblock %}
