{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Errore del server{% endblock %}
{% block content %}
<h1>Errore del server</h1>
<p>Ooops, sembra che si sia verificato un errore. Se il problema persiste ti 
    invitiamo a contattarci urgentemente, segnalando il tipo di errore 
    (500 internal server error) e come riprodurlo.</p>
<p>Grazie per la comprensione,
<br/>Lo staff di UniversiBO.</p>
{% endblock %}