{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Accesso non autorizzato{% endblock %}
{% block content %}
<h1>Accesso non autorizzato</h1>
<p>Ooops, sembra che tu non abbia i permessi per eseguire questa azione, la
    sessione potrebbe essere scaduta. Se pensi che questo messaggio sia
    visualizzato per errore ti invitiamo a contattarci, segnalando il tipo di 
    errore (403 Unauthorized) e come riprodurlo.</p>
<p>Grazie per la comprensione,
<br/>Lo staff di UniversiBO.</p>
{% endblock %}