{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Pagina non trovata{% endblock %}
{% block content %}
<h1>Pagina non trovata</h1>
<p>Ooops, sembra che questa pagina non esista, se ritieni si tratti di un errore
    ti invitiamo a contattarci, segnalando il tipo di errore (404 Not Found)
    e come siete arrivati a questo indirizzo.</p>
<p>Grazie per la comprensione,
<br/>Lo staff di UniversiBO.</p>
{% endblock %}
