{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Pagina non trovata{% endblock %}
{% block content %}
<h1>Pagina non trovata</h1>
<p>Ooops, sembra che questa pagina non esista, se ritieni si tratti di un errore
    ti invitiamo a contattarci</p>
<p>Lo staff di UniversiBO.</p>
{% endblock %}
