<div id="cse-search-form" style="width: 100%;">Loading</div>
<script src="https://www.google.it/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
    google.load('search', '1', {language : 'it', style : google.loader.themes.MINIMALIST});
    google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
    '004918876912573860674:6qxsvlkuxlo', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.enableSearchboxOnly("https://www.google.it/cse?cx=004918876912573860674:6qxsvlkuxlo");
    customSearchControl.draw('cse-search-form', options);
    }, true);
</script>