*.swp
*debuglog.txt
*~
.idea
.vagrant
/app/Resources/java/
/bin/
/build.xml
/build/
/cache.properties
/nbproject
/web/bundles
app/bootstrap.php.cache
app/cache
app/config/deploy.rb
app/logs
app/phpunit.xml
app/uploads/*
compiled
php-cs-fixer.phar
vendor
