*~
compiled
/app/Resources/java/
app/cache
app/config/deploy.rb
app/logs
app/phpunit.xml
app/uploads/*
/build/
/build.xml
/cache.properties
/nbproject
universibo/file-universibo
/web/bundles
vendor
php-cs-fixer.phar
*debuglog.txt
