<?xml version="1.0"?>
<config>
	
	<!--Root Folder can be absolute or relative to receiver path -->
	<rootFolder>../framework/</rootFolder>
	<rootURL>universibo2devel/htmls/</rootURL>
	<paths>
		<application>../universibo/</application>
		<commands>../universibo/commands/</commands>
	</paths>
	
	<receivers>
		<main>index.php</main>
	</receivers>
	
	<defaultCommand>ShowHome</defaultCommand>
	<commands>
		<ScriptTest class="ScriptTest" />
		<!--<ScriptGetLDAPMD5 class="ScriptGetLDAPMD5" />-->
		
		<ShowError class="ShowError">
			<response type="template" name="default">error.tpl</response>
		</ShowError>
		<RegistraStudente class="RegistraStudente">
			<response type="template" name="default">registra_studente.tpl</response>
		</RegistraStudente>
		<Login class="Login">
			<response type="template" name="default">login.tpl</response>
		</Login>
		<Logout class="Logout" />
		<ShowManifesto class="ShowManifesto">
			<response type="template" name="default">manifesto.tpl</response>
		</ShowManifesto>
		<ShowHome class="ShowHome">
			<response type="template" name="default">home.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
			<pluginCommand name="ShowLinks" class="Links.ShowLinks" />
		</ShowHome>
		<ShowCanale class="ShowCanale">
			<response type="template" name="default">canale.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
			<pluginCommand name="ShowFileTitoli" class="Files.ShowFileTitoli" />
			<pluginCommand name="ShowLinks" class="Links.ShowLinks" />
		</ShowCanale>
		<ShowHelp class="ShowHelpIndex">
			<response type="template" name="default">help.tpl</response>
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</ShowHelp>
		<ShowHelpTopic class="ShowHelpTopic">
			<response type="template" name="default">help_topic.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</ShowHelpTopic>
		<ShowFacolta class="ShowFacolta">
			<response type="template" name="default">facolta.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
			<pluginCommand name="ShowLinks" class="Links.ShowLinks" />
		</ShowFacolta>
		<ShowCdl class="ShowCdl">
			<response type="template" name="default">cdl.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
			<pluginCommand name="ShowLinks" class="Links.ShowLinks" />
		</ShowCdl>
		<ShowInsegnamento class="ShowInsegnamento">
			<response type="template" name="default">insegnamento.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
			<pluginCommand name="ShowFileTitoli" class="Files.ShowFileTitoli" />
			<pluginCommand name="ShowFileStudentiTitoli" class="Files.ShowFileStudentiTitoli" />
			<pluginCommand name="ShowLinks" class="Links.ShowLinks" />
		</ShowInsegnamento>
		<ShowContribute class="ShowContribute">
			<response type="template" name="default">contribute.tpl</response>
			<response type="template" name="questionario_success">questionario_success.tpl</response>
		</ShowContribute>
		<ShowCredits class="ShowCredits">
			<response type="template" name="default">credits.tpl</response>
		</ShowCredits>
		<ShowAccessibility class="ShowAccessibility">
			<response type="template" name="default">accessibility.tpl</response>
		</ShowAccessibility>
		<ShowContacts class="ShowContacts">
			<response type="template" name="default">chisiamo.tpl</response>
		</ShowContacts>
		<ShowCollaboratore class="ShowCollaboratore">
			<response type="template" name="default">tabellina_contatto.tpl</response>
		</ShowCollaboratore>
		<!-- 
		<ShowQuestions class="ShowQuestions">
			<response type="template" name="default">questionario.tpl</response>
		</ShowQuestions>
		 -->
		<ShowRules class="ShowRules">
			<response type="template" name="default">regolamento.tpl</response>
		</ShowRules>
		<ShowSettings class="ShowSettings">
			<response type="template" name="default">impostazioni.tpl</response>
		</ShowSettings>
		<ShowPersonalSettings class="ShowPersonalSettings">
			<response type="template" name="default">show_personal_settings.tpl</response>
			<response type="template" name="success">show_personal_settings_success.tpl</response>
		</ShowPersonalSettings>
		<ShowUser class="ShowUser">
			<response type="template" name="default">show_user.tpl</response>
		</ShowUser>
		<ShowStatistiche class="ShowStatistiche">
			<response type="template" name="default">show_statistiche.tpl</response>
		</ShowStatistiche>
		<ShowInfoDidattica class="ShowInfoDidattica">
			<response type="template" name="default">show_info_didattica.tpl</response>
		</ShowInfoDidattica>
		<InfoDidatticaEdit class="InfoDidatticaEdit">
			<response type="template" name="default">info_didattica_edit.tpl</response>
			<response type="template" name="success">info_didattica_edit_success.tpl</response>
		</InfoDidatticaEdit>
		
		
		<ShowMyUniversiBO class="ShowMyUniversiBO">
			<response type="template" name="default">my_universibo.tpl</response>
			<pluginCommand name="ShowMyNews" class="News.ShowMyNews" />
			<pluginCommand name="ShowMyFileTitoli" class="Files.ShowMyFileTitoli" />
		</ShowMyUniversiBO>
		<ShowAllFilesStudenti class="ShowAllFilesStudenti">
			<response type="template" name="default">all_files.tpl</response>
			<pluginCommand name="ShowAllFilesStudentiTitoli" class="Files.ShowAllFilesStudentiTitoli" />
		</ShowAllFilesStudenti>
		<MyUniversiBOAdd class="MyUniversiBOAdd">
			<response type="template" name="default">my_universibo_add.tpl</response>
			<response type="template" name="success">my_universibo_add_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</MyUniversiBOAdd>
		<MyUniversiBOEdit class="MyUniversiBOEdit">
			<response type="template" name="default">my_universibo_edit.tpl</response>
			<response type="template" name="success">my_universibo_edit_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</MyUniversiBOEdit>
		<MyUniversiBORemove class="MyUniversiBORemove">
			<response type="template" name="success">my_universibo_remove_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</MyUniversiBORemove>
		<RuoliAdminSearch class="RuoliAdminSearch">
			<response type="template" name="default">ruoli_admin_search.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</RuoliAdminSearch>
		<RuoliAdminEdit class="RuoliAdminEdit">
			<response type="template" name="default">ruoli_admin_edit.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</RuoliAdminEdit>
		
		<RegStudente class="RegStudente">
			<response type="template" name="default">reg_studente.tpl</response>
			<response type="template" name="success">reg_studente_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</RegStudente>
		<RegUser class="RegUser">
			<response type="template" name="default">reg_user.tpl</response>
			<response type="template" name="success">reg_user_success.tpl</response>
		</RegUser>
		<NewPasswordStudente class="NewPasswordStudente">
			<response type="template" name="default">new_password_studente.tpl</response>
			<response type="template" name="success">new_password_studente_success.tpl</response>
		</NewPasswordStudente>
		<NewPasswordDocente class="NewPasswordDocente">
			<response type="template" name="default">new_password_docente.tpl</response>
			<response type="template" name="success">new_password_docente_success.tpl</response>
		</NewPasswordDocente>
		<ChangePassword class="ChangePassword">
			<response type="template" name="default">change_password.tpl</response>
			<response type="template" name="success">change_password_success.tpl</response>
		</ChangePassword>
		<RecuperaUsernameStudente class="RecuperaUsernameStudente">
			<response type="template" name="default">recupera_username_studente.tpl</response>
			<response type="template" name="success">recupera_username_studente_success.tpl</response>
		</RecuperaUsernameStudente>
		
		<NewsAdd class="NewsAdd">
			<response type="template" name="default">news_add.tpl</response>
			<response type="template" name="success">news_add_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</NewsAdd>
		<NewsDelete class="NewsDelete">
			<response type="template" name="default">news_delete.tpl</response>
			<response type="template" name="success">news_delete_success.tpl</response>
			<pluginCommand name="ShowNews" class="News.ShowNews" />
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</NewsDelete>
		<NewsEdit class="NewsEdit">
			<response type="template" name="default">news_edit.tpl</response>
			<response type="template" name="success">news_edit_success.tpl</response>
			<pluginCommand name="ShowNews" class="News.ShowNews" />
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</NewsEdit>
		<NewsShowCanale class="NewsShowCanale">
			<response type="template" name="default">news_show_canale.tpl</response>
			<pluginCommand name="ShowNews" class="News.ShowNews" />
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</NewsShowCanale>
		
		<FileDocenteAdmin class="FileDocenteAdmin">
            <response type="template" name="success">file_docente_admin_success.tpl</response>
            <response type="template" name="default">file_docente_admin.tpl</response>
            <pluginCommand name="ShowTopic" class="Help.ShowTopic" />
            <pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
        </FileDocenteAdmin>
		<FileDownload class="FileDownload">
			<response type="template" name="file_download_iscriviti">file_download_iscriviti.tpl</response>
			<response type="template" name="file_download_password">file_download_password.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileDownload>
		<FileShowInfo class="FileShowInfo">
			<response type="template" name="default">file_show_info.tpl</response>
			<pluginCommand name="ShowFileInfo" class="Files.ShowFileInfo" />
			<pluginCommand name="ShowFileStudentiCommenti" class="Files.ShowFileStudentiCommenti" />
		</FileShowInfo>
		<FileAdd class="FileAdd">
			<response type="template" name="success">file_add_success.tpl</response>
			<response type="template" name="default">file_add.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileAdd>
		<FileStudentiAdd class="FileStudentiAdd">
			<response type="template" name="success">file_studenti_add_success.tpl</response>
			<response type="template" name="default">file_studenti_add.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileStudentiAdd>
		<FileEdit class="FileEdit">
			<response type="template" name="default">file_edit.tpl</response>
			<response type="template" name="success">file_edit_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileEdit>
		<FileStudentiAdd class="FileStudentiAdd">
			<response type="template" name="success">file_studenti_add_success.tpl</response>
			<response type="template" name="default">file_studenti_add.tpl</response>
		</FileStudentiAdd>
		<FileStudentiEdit class="FileStudentiEdit">
			<response type="template" name="success">file_studenti_edit_success.tpl</response>
			<response type="template" name="default">file_studenti_edit.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileStudentiEdit>
		<FileDelete class="FileDelete">
			<response type="template" name="default">file_delete.tpl</response>
			<response type="template" name="success">file_delete_success.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileDelete>
		<FileStudentiDelete class="FileStudentiDelete">
			<response type="template" name="success">file_studenti_delete_success.tpl</response>
			<response type="template" name="default">file_studenti_delete.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</FileStudentiDelete>
		<FileStudentiComment class="FileStudentiComment">
			<response type="template" name="success">file_studenti_comment_success.tpl</response>
			<response type="template" name="default">file_studenti_comment.tpl</response>
		</FileStudentiComment>
		<FileStudentiCommentEdit class="FileStudentiCommentEdit">
			<response type="template" name="success">file_studenti_comment_edit_success.tpl</response>
			<response type="template" name="default">file_studenti_comment_edit.tpl</response>
			<pluginCommand name="ShowFileStudentiCommento" class="Files.ShowFileStudentiCommento" />
		</FileStudentiCommentEdit>
		<FileStudentiCommentDelete class="FileStudentiCommentDelete">
			<response type="template" name="success">file_studenti_comment_delete_success.tpl</response>
			<response type="template" name="default">file_studenti_comment_delete.tpl</response>
			<pluginCommand name="ShowFileStudentiCommento" class="Files.ShowFileStudentiCommento" />
		</FileStudentiCommentDelete>
		<ShowPersonalFiles class="ShowPersonalFiles">
			<response type="template" name="default">personal_files.tpl</response>
		</ShowPersonalFiles>
		
		
		<DidatticaGestione class="DidatticaGestione">
            <response type="template" name="success">didattica_gestione_success.tpl</response>
            <response type="template" name="default">didattica_gestione.tpl</response>
            <pluginCommand name="ShowTopic" class="Help.ShowTopic" />
            <pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
        </DidatticaGestione>
		
		<ProgrammazioneDidatticaFacolta class="ProgrammazioneDidatticaFacolta">
			<response type="template" name="default">programmazione_didattica_facolta.tpl</response>
		</ProgrammazioneDidatticaFacolta>
		<ProgrammazioneDidatticaCdl class="ProgrammazioneDidatticaCdl">
			<response type="template" name="default">programmazione_didattica_cdl.tpl</response>
		</ProgrammazioneDidatticaCdl>
		
		<LinkAdd class="LinkAdd">
			<response type="template" name="default">link_add.tpl</response>
			<response type="template" name="success">link_add_success.tpl</response>
		</LinkAdd>
		<LinkDelete class="LinkDelete">
			<response type="template" name="default">link_delete.tpl</response>
			<response type="template" name="success">link_delete_success.tpl</response>
			<pluginCommand name="ShowLink" class="Links.ShowLink" />
		</LinkDelete>
		
		<LinkEdit class="LinkEdit">
			<response type="template" name="default">link_edit.tpl</response>
			<response type="template" name="success">link_edit_success.tpl</response>
			<pluginCommand name="ShowLink" class="Links.ShowLink" />
		</LinkEdit>
		
		<LinksAdmin class="LinksAdmin">
			<response type="template" name="default">links_admin.tpl</response>
		    <pluginCommand name="ShowLinksExtended" class="Links.ShowLinksExtended" />
		</LinksAdmin>
		
		<ShowContattoDocente class="ShowContattoDocente">
			<response type="template" name="default">show_contatto_docente.tpl</response>
		</ShowContattoDocente>
		<ShowContattiDocenti class="ShowContattiDocenti">
			<response type="template" name="default">show_contatti_docenti.tpl</response>
		</ShowContattiDocenti>
		<ContattoDocenteAdd class="ContattoDocenteAdd">
			<response type="template" name="default">contatto_docente_add.tpl</response>
		</ContattoDocenteAdd>
		
		<CollaboratoreProfiloAdd class="CollaboratoreProfiloAdd">
			<response type="template" name="default">collaboratore_profilo_add.tpl</response>
		</CollaboratoreProfiloAdd>
		
		<InteractiveCommandHandler class="InteractiveCommandHandler">
			<response type="template" name="default">interactive_command_handler.tpl</response>
			<!-- restrictedTo="" serve per applicare l'interactiveCommand a gruppi selezionati di utenti. Mettere le costanti (vedi User) dei gruppi voluti separati da virgola  -->
			<!-- condition=""	serve per imporre dei vincoli sia sull'attivazione che sulla disattivazione del plugin. La condizione deve essere espressa in ConditionLanguage  -->
			<pluginCommand name="ProvaInteractiveCommand" class="InteractiveCommand.ProvaInteractiveCommand" restrictedTo="USER_COLLABORATORE,USER_ADMIN"  condition="STARTS WHEN 5 + 4 + 3 + 2 + 1 = 15;" /> 
			<pluginCommand name="InformativaPrivacyInteractiveCommand" class="InteractiveCommand.InformativaPrivacyInteractiveCommand"/>
		</InteractiveCommandHandler>
                
                <ShowPermalink class="ShowPermalink">
                    	<response type="template" name="default">permalink_show.tpl</response>
                </ShowPermalink>
		<!-- 
		<TestUnit class="TestUnit" />
		<TestTemplate class="TestTemplate" />
		 -->
	</commands>
	
	<dbInfo type="DB">
	    <connection identifier="main">pgsql://universibo:universibo@127.0.0.1/universibo</connection>
	    <connection identifier="mysql">mysql://my_username:my_password@host/my_dbname</connection>
	</dbInfo>
	
	<mailerInfo>
		<!-- leave smtp empty if don't want to use a smtp server -->
	    <smtp>---pippo.joker.ing.unibo.it</smtp>
	    <fromAddress>universibo@unibo.it</fromAddress>
	    <replyToAddress>universibo@unibo.it</replyToAddress>
	    <fromName>UniversiBO</fromName>
	</mailerInfo>
	
	<templateInfo type="Smarty" debugging="off">
		<template_dirs>
			<web_dir>tpl/</web_dir>
			<smarty_dir>../framework/smarty/</smarty_dir>
			<smarty_template>../universibo/templates/</smarty_template>
			<smarty_compile>../universibo/templates_compile/</smarty_compile>
			<smarty_config>../universibo/templates_config/</smarty_config>
			<smarty_cache>../universibo/templates_cache/</smarty_cache>
		</template_dirs>
		<template_styles default="unibo">
			<style name="black" dir="black/" />
			<style name="unibo" dir="unibo/" />
			<style name="simple" dir="simple/" />
		</template_styles>
	</templateInfo>	
	
	<langInfo>
	 	<lang_dir>../universibo/lang/</lang_dir> 
	 	<lang_default>it</lang_default> 
	 	<date_separator>/</date_separator> 
	</langInfo>	
	
	<smsMobyInfo>
	    <username>your_username</username>
	    <password>your_password</password>
	    <fromName>UniversiBO</fromName>
	</smsMobyInfo>
	
	<!-- appSettings is an optional node. You can place any thing here 
                and access it from FrontController->getAppSetting()	-->
	<appSettings>
		<adLoginHost>127.0.0.1</adLoginHost>
		<version>2.2.2</version>
		<adLoginPort>1525</adLoginPort>
		<logs>../app/logs</logs>
		<notificheLock>../universibo/notifiche.lock</notificheLock>
		<contactsPath>img/contacts/</contactsPath>
		<langFile>/location/of/userLanguageFile.txt</langFile>
		<filesPath>../universibo/file-universibo/</filesPath>
		<filesTipoIconePath>img/icone_file/</filesTipoIconePath>
		<rootUrl>https://www.universibo.unibo.it</rootUrl>
		<fotoDefault>no_foto.png</fotoDefault>
		<questionariReceiver>evaimitico@gmail.com;silvia.cereda@studio.unibo.it</questionariReceiver>
		<passwordDocentiAdmin>sissi;spiff1281;brain;evaimitico</passwordDocentiAdmin>
		<contattoDocentiAdmin>Fabio84</contattoDocentiAdmin> <!-- un solo nome -->
		<modFileStudenti>brain</modFileStudenti>
		<programmazioneDidatticaAdmin>Elisa;brain;evaimitico;eagleone</programmazioneDidatticaAdmin>
		<alertMessage></alertMessage>
		<defaultStyle>unibo</defaultStyle>
		<rootEmail>universibo@unibo.it</rootEmail>
		<develEmail>dev_universibo@mama.ing.unibo.it</develEmail>
		<infoEmail>info_universibo@mama.ing.unibo.it</infoEmail>
		<regolamento>../universibo/files/regolamento.txt</regolamento>
	<!--	<informativaPrivacy>../universibo/files/informativa_privacy.txt</informativaPrivacy> -->
		<staffEmail>staff_universibo@mama.ing.unibo.it</staffEmail>
		<defaultAnnoAccademico>2011</defaultAnnoAccademico>
		
		<!--<antiVirusEnable>true</antiVirusEnable>-->
		<antiVirusEnable>false</antiVirusEnable>
		<antiVirusType>clamav</antiVirusType>
		<antiVirusClamavCmd>/usr/local/bin/clamscan</antiVirusClamavCmd>
		<antiVirusClamavOpts>--quiet --recursive</antiVirusClamavOpts>
	</appSettings>
</config>
