<div class="sidebox">
  <div class="sidebox-head">MyUniversiBO</div>
  <div class="sidebox-content">
  {% for role in roles %}
  <li><a href="{{ role.link }}">{{ role.name }}</a></li>
  {% else %}
  Nessun preferito in MyUniversiBO
  {% endfor %}
  </div>
</div>
