{% extends '::base.html.twig' %}
{% block content %}
<h1>{% trans with {'%name%': school.name} %}school.title{% endtrans %}</h1>
<p><a href="{{ school.url}}" target="_blank">{{school.url}}</a></p>
{% endblock %}
