@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";
@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/bootstrap/less/responsive.less";
@import "carousel.less";

@boxMarginBottom: 10px;
@navbarHeight: 44px;
@bodyPaddingTop: @navbarHeight + 4px;

.disclaimer {
    font-size: x-small;
}

.box {
    margin-bottom: @boxMarginBottom;
}

.brand > img {
  margin-top: -10px;
  margin-bottom: -10px;
}

@media (min-width: @navbarCollapseWidth) {
  body {
    padding-top: @bodyPaddingTop;
  }
}

#home-container {
  margin-top: -@bodyPaddingTop;
}

.legacy-form {
    textarea {
        width: 100%;
    }

    input[type=text] {
        width: 100%;
    }

    .legacy-date {
        label {
            display: inline;
        }
        input[type=text] {
            display: inline;
            clear: none;
            width: 40px;
        }
    }
}

.navbar .brand .beta {
  font-size: xx-small;
}