<div class="sidebox">
<div class="sidebox-head">
Info utente
</div>
<div class="sidebox-content">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<p>Benvenuto {{ app.user.username }}!</p>
<p><a href="/v2.php?do=Logout&symfony=1">Logout</a></p>
{% else %}
<form action="/v2.php?do=Login" name="form1_a" id="f1" method="post">
  <label for="f1_username">username: </label><br>
  <input id="f1_username" name="f1_username" maxlength="25" type="text" size="15" tabindex="1"><br>
  <label for="f1_password">password: </label><br>
  <input id="f1_password" name="f1_password" maxlength="25" type="password" size="15" tabindex="2"><br>
  <input type="hidden" name="f1_resolution" value="">
  <input class="submit" name="f1_submit" type="submit" value="Login" tabindex="3" onclick="document.form1_a.f1_resolution.value = screen.width;"><br>
</form>
{% endif %}
</div>
</div>
