set :application, "UniversiBO"
set :domain,      "universibo.unibo.it"
set :deploy_to,   "/var/www/universibo"
set :app_path,    "app"
set :web_path,    "web"

set :repository,  "git://github.com/UniversiBO/UniversiBO.git"
set :scm,         :git
# Or: `accurev`, `bzr`, `cvs`, `darcs`, `subversion`, `mercurial`, `perforce`, `subversion` or `none`

set :model_manager, "doctrine"
# Or: `propel`

role :web,        domain                         # Your HTTP server, Apache/etc
role :app,        domain, :primary => true       # This may be the same as your `Web` server
role :db,         domain                         # This is where Rails migrations will run

set  :shared_files,    [web_path + "/.htaccess", app_path + "/config/parameters.yml", app_path + "/config/mailer.yml", "config.xml"]
set  :shared_children, [app_path + "/logs", web_path + "/img/contacts", web_path + "/uploads", app_path + "/data", web_path + "/linux", web_path + "/latex", app_path + "/Resources/java"]

set  :update_vendors, false
set  :use_composer,   true
set  :use_sudo,      false
set  :keep_releases,  3


before 'deploy:create_symlink', 'symfony:assetic:dump'
before 'symfony:composer:install', 'composer:copy_vendors'
before 'symfony:composer:update', 'composer:copy_vendors'

namespace :composer do
  task :copy_vendors, :except => { :no_release => true } do
    capifony_pretty_print "--> Copy vendor file from previous release"

    run "vendorDir=#{current_path}/vendor; if [ -d $vendorDir ] || [ -h $vendorDir ]; then cp -a $vendorDir #{latest_release}/vendor; fi;"
    capifony_puts_ok
  end
end

set :dev_only_files, [web_path + "/app_dev.php"]
set :production, true

after 'symfony:cache:warmup', 'pff:productify'
after 'deploy', 'apc:clear'

namespace :apc do
  desc "Clears APC cache"
  task :clear, :roles => :app,  :except => { :no_release => true } do
    capifony_pretty_print "--> Clearing APC Cache"

    run "#{try_sudo} sh -c 'cd #{latest_release} && #{php_bin} #{symfony_console} apc:clear --env=#{symfony_env_prod} --no-debug'"
  capifony_puts_ok
  end
end

namespace :pff do
  desc "Remove app_dev.php, check.php and config.php from production deployment"
  task :productify, :except => { :production => false } do
    if dev_only_files
      capifony_pretty_print "--> Removing app_dev.php, config.php, and check.php from web"
      dev_only_files.map do |dev_file|
        run "rm -f #{latest_release}/#{dev_file}"
      end
      capifony_puts_ok
    else
      capifony_pretty_print "--> We wanted to remove dev only files but none were listed"
      capifony_puts_ok
    end
  end
end
