{% extends 'UniversiboMainBundle::base.html.twig' %}
{% block title %}UniversiBO{% endblock title %}
{% block body %}
<div id="home-container">
    <div class="container">
        <div class="hero-unit">
            <h1>UniversiBO</h1>
            <p>{% trans %}home.text1{% endtrans %}</p>
            <p>{% trans %}home.text2{% endtrans %}</p>
            <p><a href="{{ path('login') }}" class="btn btn-primary btn-large">{% trans %}home.login{% endtrans %}</a></p>

            <p class="pull-right">{% trans %}home.iprefer{% endtrans %} <a href="{{ path('universibo_legacy_home') }}">{% trans %}home.anonymous{% endtrans %}</a></p>
        </div>
        <div class="row">
            <div class="span3">
                <h2>{% trans %}home.community.title{% endtrans %}</h2>
                <p>{% trans %}home.community.text{% endtrans %}</p>
            </div>
            <div class="span3">
                <h2>{% trans %}home.notes.title{% endtrans %}</h2>
                <p>{% trans %}home.notes.text{% endtrans %}</p>
            </div>
            <div class="span3">
                <h2>{% trans %}home.forum.title{% endtrans %}</h2>
                <p>{% trans %}home.forum.text{% endtrans %}</p>
            </div>
            <div class="span3">
                <h2>{% trans %}home.social.title{% endtrans %}</h2>
                <p>{% trans %}home.social.text{% endtrans %}</p>
                <div class="fb-like-box" data-width="300" data-height="80" data-href="http://www.facebook.com/UniversiBO" data-show-faces="false" data-stream="false" data-header="false"></div>
                <br/>
                <a href="https://twitter.com/UniversiBO" class="twitter-follow-button" data-show-count="false" data-lang="it">Segui @UniversiBO</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
