{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block content %}
<h2>Benvenuto in UniversiBO Answers</h2>
Benvenuto nel nuovo sistema interattivo per porsi domande tra studenti
{% render "UniversiBOAnswersBundle:Question:new" %}
{% endblock %}