<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{ path('universibo_legacy_home') }}">UniversiBO</a>
        <div class="nav-collapse collapse">
          {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'UniversiboMainBundle:Menu:knp_navbar.html.twig'}) }}
        </div><!--/.nav-collapse -->
        <div class="nav-collapse collapse pull-right">
          {{ knp_menu_render('topright', {'currentClass': 'active', 'template': 'UniversiboMainBundle:Menu:knp_navbar.html.twig'}) }}
        </div><!--/.nav-collapse -->
        <div class="navbar-text pull-right">
            {{ render(controller('universibo_main.controller.userbox:indexAction')) }}
        </div>
      </div>
    </div>
  </div>
