<h3>{{ title }}</h3>
<ul id="faculty-list" class="side-list">
{% for item in channels %}
  <li class="side-list-item"><a href="{{ path(route, {id: item.idCanale}) }}">{{ item.getNome() }}</a></li>
{% else %}
Nessuna facoltà
{% endfor %}
</ul>
