.Titolo {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Titolo A:link {
	COLOR: #77BCFC
}
.Titolo A:visited {
	COLOR: #55a0d0
}
.Titolo A:hover {
	COLOR: #99ccdd
}
.Piccolo {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Piccolo A:link {
	COLOR: #55a0d0; TEXT-DECORATION: underline
}
.Piccolo A:visited {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.Piccolo A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.PiccoloC {
	FONT-SIZE: 10px; COLOR: #55a0d0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.PiccoloB {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.PiccoloR {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.PiccoloF {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.CalMese {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Feriali {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Festivi {
	FONT-SIZE: 10px; COLOR: #dd0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Domeniche {
	FONT-SIZE: 10px; COLOR: #dd0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.FerialiD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.DomenicheD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #dd0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Oggi {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Normal {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Normal A:link {
	COLOR: #77BCFC; TEXT-DECORATION: underline
}
.Normal A:visited {
	COLOR: #55a0d0; TEXT-DECORATION: underline
}
.Normal A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.Forum {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Forum A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.Forum A:visited {
	COLOR: #f0fff0; TEXT-DECORATION: none
}
.Forum A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.NormalC {
	FONT-SIZE: 12px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.NormalC A:link {
	COLOR: #77BCFC; TEXT-DECORATION: underline
}
.NormalC A:visited {
	COLOR: #55a0d0; TEXT-DECORATION: underline
}
.NormalC A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.Navbar {
	FONT-SIZE: 12px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Navbar A:link {
	COLOR: #77BCFC; TEXT-DECORATION: none
}
.Navbar A:visited {
	COLOR: #55a0d0; TEXT-DECORATION: none
}
.Navbar A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: none
}
.Menu {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Menu A:link {
	COLOR: #77BCFC; TEXT-DECORATION: underline
}
.Menu A:visited {
	COLOR: #55a0d0; TEXT-DECORATION: underline
}
.Menu A:hover {
	COLOR: #aaccff; TEXT-DECORATION: underline
}
.MenuC {
	FONT-SIZE: 11px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.News {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.News A:link {
	COLOR: #77BCFC; TEXT-DECORATION: underline
}
.News A:visited {
	COLOR: #55a0d0; TEXT-DECORATION: underline
}
.News A:hover {
	COLOR: #99ccdd; TEXT-DECORATION: underline
}
.NewsTit {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.NewsTit A:link {
	COLOR: #77BCFC
}
.NewsTit A:visited {
	COLOR: #55a0d0
}
.NewsTit A:hover {
	COLOR: #99ccdd
}
.NewsC {
	FONT-SIZE: 11px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Hotspot {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Help {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #77BCFC; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#menubar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; LEFT: 14px; PADDING-BOTTOM: 2px; WIDTH: 148px; COLOR: #77BCFC; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 156px; HEIGHT: 12px; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
.submenu {
	BORDER-RIGHT: #77BCFC 1px solid; BORDER-TOP: #77BCFC 1px solid; FONT-SIZE: 11px; VISIBILITY: hidden; BORDER-LEFT: #77BCFC 1px solid; WIDTH: 180px; COLOR: #77BCFC; BORDER-BOTTOM: #77BCFC 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: absolute; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
.menuitem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #77BCFC; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #77BCFC; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: #333333; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #000050; SCROLLBAR-DARKSHADOW-COLOR: #000016
}
