@CHARSET "UTF-8";

body {
	margin: auto;
}

#header {
	height: 130px;
	color: #CCCCFF;
	padding: 5px;
	background-color: #0006c2;
}

#disclaimer {
	font-size: 75%;
}

#top-menu ul {
	padding: 2px;
	list-style: none;
	margin-left: 2px;
}

#top-menu li {
	display: inline;
	padding: 8px;
	height: 10px;
	border: 1px black solid;
	border-radius: 15px;
}