@CHARSET "UTF-8";

/*
 * PALETTE
 * #92aace (for box headers)
 * #124 (dark blue, for text)
 * #248 (for links and box borders)
 * #eef (almost white)
 * #bbd (for a:hover)
 */
body {
	margin: auto;
	font-family: sans-serif;
	background-color: #eef0f5;
	background-image:
		url('/bundles/universibowebsite/images/gradient-main.png');
	background-repeat: repeat-x;
	color: #124;
}

a {
	text-decoration: none;
	color: #248;
}

img {
	border: 0;
}

.side-list {
	margin-left: 0;
}

.side-list-item {
	list-style: disc;
}

.staffbox-head {
	text-align: center;
}

.staffbox,.staffbox-home,.sidebox,.sidebox-head,.staffbox-head {
	border: 1px solid #248;
}

.sidebox-head,.staffbox-head {
	border: none;
	border-bottom: inherit;
}

.staffbox,.staffbox-home {
	margin-bottom: 10px;
}

.staffbox-home {
	width: 200px;
	height: 220px;
	float: left;
	margin-right: 5px;
}

.staffbox-img {
	float: left;
	margin-right: 10px;
}

.staffbox-picture {
	display: inline;
}

.rulebox {
	font-size: small;
	padding: 4px;
	height: 250px;
	overflow-x: none;
	overflow-y: scroll;
	background-color: #eef;
	color: #124;
	border: 1px solid #248;
	overflow-y: scroll;
}

.sidebox {
	font-size: small;
	margin: 5px;
}

.sidebox-head,.sidebox-content {
	padding: 5px;
}

#h1-name {
	font-size: 60px;
	display: inline;
	padding-bottom: 10px;
}

#header a,#top-menu a {
	color: #eef;
	text-decoration: none;
}

#top-menu a:hover {
	color: #bbd;
	text-decoration: none;
}

#spacer {
	height: 30px;
}

#header,#footer,.sidebox-head,.staffbox-head,#home-main h3 {
	background-color: #92aace;
}
DataManager.\u003c.ctor\u003eb__0() in \\\\cern.ch\\dfs\\Users\\g\\glaser\\Documents\\Visual Studio 2010\\Projects\\PSIrradWeb\\PSIrradWeb\\Data\\Manager\\DAQDataManager.cs:line 26\r\n at PSIrradWeb.Data.Lazy.LazyReference`1.get_Value() in \\\\cern.ch\\dfs\\Users\\g\\glaser\\Documents\\Visual Studio 2010\\Projects\\PSIrradWeb\\PSIrradWeb.Data\\Lazy\\LazyReference.cs:line 30\r\n at PSIrradWeb.Data.Manager.DAQDataManager..ctor(IDataSource bpmDataSource, IDataSource daqDataSource) in \\\\cern.ch\\dfs\\Users\\g\\glaser\\Documents\\Visual Studio 2010\\Projects\\PSIrradWeb\\PSIrrad
#header {
	height: 130px;
	padding: 5px;
	background-image:
		url('/bundles/universibowebsite/images/gradient-top.png');
	background-repeat: repeat-x;
}

#disclaimer {
	font-size: x-small;
}

#top-menu {
	background-color: #1b4f9d;
	height: 50px;
	background-repeat: repeat-x;
}

#top-menu ul {
	margin-top: 0px;
	padding: 5px;
	padding-top: 15px;
	list-style: none;
	margin-left: 2px;
	list-style: none;
}

#top-menu li {
	border: 1px solid #eef;
	margin: 2px;
	display: inline;
	font-weight: bold;
	padding: 8px;
	height: 10px;
	background-image:
		url('/bundles/universibowebsite/images/gradient-menu.png');
	background-repeat: repeat-x;
}

#main {
	padding-left: 5px;
}

.homebox {
	margin: 5px;
}

.homebox h3 {
	text-align: center;
	padding: 5px;
}

#f1 {
	text-align: center;
}

#top-menu li,input,.homebox h3 {
	border-radius: 5px;
}

/* BEGIN NEWS */
.news {
	border: 1px solid;
	margin-bottom: 5px;
	border-radius: 5px;
}

.news-title, .news-footer, .news-body {
	padding: 5px;
}

.news-title {
	border-radius-top: 5px;
	font-size: large;
	font-weight: bold;
	background-color: #92aace;
}

.news-footer-right {
	text-align: right;	
}

/* END NEWS */
