<div id="header">
  <a href="{{ path('homepage') }}">
    <img src="{{ asset('bundles/universibowebsite/images/logo-top.png') }}" alt="logo"/>
    <h1 id="h1-name">UniversiBO 3.0</h1>
    <span>BETA</span>
  </a>
</div>
<div id="top-menu">
  <ul>
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('staff_index') }}">Staff</a></li>
    <li><a href="/forum/">Forum</a></li>
    <li><a href="/v2.php">UniversiBO 2</a></li>
  </ul>
</div>