{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO v3 :: Home{% endblock %}
{% block main %}
<div id="main" class="yui3-u-1">
<h2>UniversiBO è la community di studenti e docenti dell'Università di Bologna</h2>
</div>
{% endblock %}