{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO{% endblock title %}
{% block body %}
<div id="home-container">
    <div class="container-fluid">
        <div class="hero-unit">
            <h1>UniversiBO</h1>
            <p>{% trans %}home.text{% endtrans %}</p>
            <p><a href="{{ path('login') }}" class="btn btn-primary btn-large">{% trans %}home.login{% endtrans %}</a></p>

            <p class="pull-right">{% trans %}home.iprefer{% endtrans %} <a href="{{ path('universibo_legacy_home') }}">{% trans %}home.anonymous{% endtrans %}</a></p>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h2>{% trans %}home.community.title{% endtrans %}</h2>
                <p>{% trans %}home.community.text{% endtrans %}</p>
            </div>
            <div class="span4">
                <h2>Lorem ipsum</h2>
            </div>
            <div class="span4">
                <h2>Lorem ipsum</h2>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
