{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: {{ channel.getNome() }}{% endblock %}
{% block rss %}
<link rel="alternate" type="application/rss+xml" title="UniversiBO - {{ channel.nome }}" href="{{ path('rss', {idCanale: channel.idCanale})}}">
{% endblock %}
{% block content %}
<h2>{{ channel.getTitolo() }}</h2>
{% if channel.servizioNews %}
  {% render 'UniversiBOWebsiteBundle:News:index' with {'limit': 4, 'channelId': channel.idCanale} %}
{% endif %}
{% if channel.servizioFiles %}
  {% render 'UniversiBOWebsiteBundle:File:index' with {'channelId': channel.idCanale} %}
{% endif %}
{% endblock %}