{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: {{ channel.name }}{% endblock %}
{% block rss %}
<link rel="alternate" type="application/rss+xml" title="UniversiBO - {{ channel.name }}" href="{{ path('rss', {idCanale: channel.id})}}">
{% endblock %}
{% block content %}
<h2>{{ channel.name }}</h2>
{% if has_service(channel, 'news') %}
  {% render 'UniversiboContentBundle:News:box' with {'limit': 4, 'channel': channel} %}
{% endif %}
{% if has_service(channel, 'files') %}
  {% render 'UniversiboContentBundle:File:index' with {'channelId': channel.idCanale} %}
{% endif %}
{% endblock %}
