{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: {{ channel.name }}{% endblock %}
{% block rss %}
<link rel="alternate" type="application/rss+xml" title="UniversiBO - {{ channel.name }}" href="{{ path('rss', {idCanale: channel.id})}}">
{% endblock %}
{% block content %}
<h2>{{ channel.name }}</h2>
{#% if channel.servizioNews %}
  {% render 'UniversiboWebsiteBundle:News:index' with {'limit': 4, 'channelId': channel.idCanale} %}
{% endif %}
{% if channel.servizioFiles %}
  {% render 'UniversiboWebsiteBundle:File:index' with {'channelId': channel.idCanale} %}
{% endif %#}
{% endblock %}
