{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO v3 :: Home{% endblock %}
{% block content %}
<h2>Lo Staff di UniversiBO</h2>
{% for person in staff %}
<div class="staffbox-home">
  <div class="staffbox-head">{{ person.user.username }}</div>
  <a href="{{ path('staff_show', {'username': person.user.username}) }}">
  <img src="{{ asset('uploads/staff/' ~ person.fotoFilename) }}" alt="{{ person.user.username }}"/>
  </a>
</div>
{% else %}
<p>La sezione "staff" è in costruzione.</p>
{% endfor %}
{% endblock %}
