{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Informativa sulla Privacy{% endblock %}
{% block content %}
{% if not is_granted('IS_AUTHENTICATED_FULLY') or user.usernameLocked %}
<h1>Regolamento e informativa</h1>
{% else %}
<h1>Registrazione</h1>
{% endif %}
{% if mustAccept %}

<form action="{{ path('universibo_website_rules_accept') }}" method="POST"
      class="accept-form">
    {% if app.session.hasFlash('error') %}
<p class="error">{{app.session.flash('error')}}</p>
{% endif %}
    {% if not user.usernameLocked %}
    <label for="username">Scegli un nome utente, non ti sarà possibile cambiarlo
        in futuro</label>
    <input id="username" name="username" value="{{ user.username }}"/>
    {% else %}
    <p>Per proseguire è necessario
        accettare regolamento e informativa sulla privacy</p>
    {% endif %}
    <p><input type="checkbox" id="accept_check" name="accept_check"/>
    <label for="accept_check">Ho letto e accetto
        l'<a href="#privacy">Informativa sulla privacy</a>, il
        <a href="#rules">Regolamento per l'utilizzo dei servizi</a> e del
        <a href="#forumRules">forum</a>.</label></p>
    <p><input id="accept_submit" type="submit" value="Accetto"/></p>
</form>
{% endif %}
<a name="privacy"><h2>Informativa sulla privacy</h2></a>
{% render 'UniversiboWebsiteBundle:Rules:privacyBox' with {}, {standalone:true} %}
<a name="rules"><h2>Regolamento per l'utilizzo dei servizi del sito</h2></a>
{% render 'UniversiboWebsiteBundle:Rules:mainBox'  with {}, {standalone:true} %}
<a name="forumRules"><h2>Regolamento per l'utilizzo del forum</h2></a>
{% render 'UniversiboWebsiteBundle:Rules:forumBox' with {}, {standalone:true} %}
{% endblock %}
