{% extends '::base.html.twig' %}
{% block body %}
{{ render(controller('UniversiboMainBundle:Common:navbar')) }}
    <div class="container-fluid">
    {% block content %}
    {% endblock content %}
    </div>
{% endblock body %}
