{% extends '::base.html.twig' %}
{% block content %}
    <h1>{% trans %}suggestion.thanks{% endtrans %}</h1>
    <p>{% trans %}suggestion.success{% endtrans %}</p>
    <p class="pull-right">{% trans %}common.staff{% endtrans %}.</p>
{% endblock content %}
