.flash-notice-container, .flash-error-container {
    text-align: left;
    margin-top: -10px;
    height: 10px;
}
.flash-notice, .flash-error {
    padding: 4px;
    font-weight: bold;
    clear: both;
}

.flash-notice {
    color: green;
}

.flash-error {
    color: red;
}

@media (min-width: 978px) {
    body {
        padding-top: 40px;
    }
}

#home-container {
    margin-top: -40px;
}


#informativa, .rulebox {
	height: 300px;
	overflow: auto;
}

.sidemenu {
}

.disclaimer {
    font-size: x-small;
}