{% extends 'UniversiboWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO :: Contatti{% endblock %}

{% block content %}
<h2>Contatti</h2>
<p>Lo <a href="{{ path('staff_index') }}">staff</a> di UniversiBO è a vostra disposizione per segnalazioni o richieste di assistenza all'indirizzo e-mail <a href="mailto:info_universibo@mama.ing.unibo.it">info_universibo@mama.ing.unibo.it</a>.</p>
{% endblock %}
