{% extends 'UniversiBOWebsiteBundle::base.html.twig' %}
{% block title %}UniversiBO v3 :: Home{% endblock %}
{% block content %}
<h2>REGOLAMENTO PER L'UTILIZZO DEI SERVIZI</h2>
<h3>Università di Bologna</h3>
<p>{{ rules | nl2br}}</p>
<h3>Informativa sulla privacy</h3>
<p>{{ privacy | nl2br }}</p>
<h3>Forum</h3>
<p>Se avete domande da fare o, ancora meglio, se avete qualcosa da comunicare non esitate ad usufruire del forum facendo attenzione a rispettare le seguenti regole e consigli:</p>
<ul>
  <li>se volete porre una domanda, controllate bene che l'informazione cercata non sia già presente all'interno del sito o che non sia già stata posta in un vecchio messaggio;</li>
  <li>i messaggi vengono raggruppati in discussioni(topic): per cui se rispondete ad un messaggio, il vostro verrà visualizzato subito al di sotto del precedente. Per facilitare a tutti la navigazione tra i diversi topic ciò che più conta è che il primo a postare un messaggio utilizzi un titolo opportuno e significativo.</li>
  <li>quando possibile cercate di rispondere all'interno di un topic già iniziato;
  <li>evitate di scrivere messaggi troppo lunghi, altrimenti potreste rischiare che nessuno li legga;
  <li>se volete fare delle critiche non siate offensivi e fate in modo che siano costruttive;
  <li>non postate lo stesso messaggio più volte;
  <li>se possibile non riportare il messaggio a cui rispondi, casomai, quando servisse, riporta solo una frase;
  <li>non usate esclusivamente lettere maiuscole(usare maiuscole significa gridare).
</ul>
<p>Sul Forum è assolutamente vietato:</p>
<ul>
  <li>postare messaggi offensivi;
  <li>postare messaggi contenenti volgarità contrari alla morale pubblica, messaggi politici/razziali, messaggi con contenuto osceno, pornografico, ecc.;
  <li>postare messaggi illeciti o link di siti illegali (pirateria, hacking, pornografia);
  <li>postare messaggi con qualsiasi forma di spam o pubblicità.
</ul>
<p>Il compito dei moderatori sarà quello di garantire il rispetto assoluto delle regole e di consentire il corretto svolgimento delle discussioni. Per cui potranno:</p>
<ul>
  <li>controllare che discussioni troppo accese non degenerino oltre i limiti di un civile e razionale dibattito.
  <li>cancellare o modificare, senza alcun preavviso, un messaggio ritenuto offensivo o comunque non consono allo spirito del forum.
  <li>cancellare messaggi identici ripetuti più volte; intervenire a loro insindacabile giudizio.
</ul>
<p>Contestazioni sull'operato dei moderatori effettuate sul forum saranno prontamente chiuse o eliminate. Spiegazioni e critiche (non in chiave polemica) rivolte a moderatori e amministratori sono accette ma solo ed esclusivamente in forma privata (via mail)<!-- o tramite il messenger del forum-->. Siete invitati a segnalare ai moderatori eventuali irregolarità di determinati messaggi.</p>
{% endblock %}
