<div class="box">
    <h3>{% trans %}ub_links{% endtrans %}</h3>
    <div class="contenuto">
        {% for link in links %}
        <p><img src="{{asset('bundles/universibolegacy/images/freccia.gif')}}" width="11"
             height="10" alt=""/>&nbsp;<a title="Questo link apre una nuova pagina"
             target="_blank" href="{{ link.uri }}">{{ link.label }}</a></p>
        {% else %}
        <p>{% trans %}ub_nolinks{% endtrans %}</p>
        {% endfor %}
        {% if addAllowed %}
            <a href="{{ path('universibo_legacy_link_admin', { id_canale: channelId }) }}">{% trans %}ub_links_admin{% endtrans %}</a>
        {% endif %}
    </div>
</div>
